@import '../style/variables.scss';

.Task {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin: 0 $base-margin;
   padding: $base-padding/4 0;
   border-bottom: 1px solid $silver;

   &__editing {
      display: flex;
      justify-content: space-between;

      .Task__input {
         margin: 0 $base-margin/2;
         border: none;
         width: 70%;

         &:focus {
            outline: none;
         }
      }
   }

   .Task__checkbox {
      max-width: 40px;
   }

   .Task__text {
      width: 70%;
      min-height: 20px;
   }
}
