.Task {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin: 0 16px;
   padding: 5px 0;
   border-bottom: 1px solid #e6e6e6;

   &__editing {
      display: flex;
      justify-content: space-between;

      .Task__input {
         margin: 0 10px;
         border: none;
         width: 70%;

         &:focus {
            outline: none;
         }
      }
   }

   .Task__checkbox {
      max-width: 40px;
   }

   .Task__text {
      width: 70%;
      min-height: 20px;
   }

   .Task__control{

      .Task_buttons {
         color: pink;
         background-color: blue;
         // border: 1px solid grey;
      }
   }
}
