.TasksPage {
   padding: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;

   .TasksPage__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .TasksPage__title {
         color: grey;
         margin-left: 150px;
         display: flex;
         align-items: center;
         cursor: pointer;
      }
   }

   .TasksPage__tasks {
      width: 100%;
      max-width: 1000px;
      padding: 35px 10px;
   }
}
