.Task {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   margin: 0 16px;
   padding: 5px 0;
   border-bottom: 1px solid #e6e6e6;

   &__editing {
      display: flex;

      .Task__input {
         padding: 0 40px;
         width: 70%;
         border: none;

         &:focus {
            outline: none;
         }
      }
   }

   .Task__checkbox {
      max-width: 40px;
   }

   .Task__text {
      width: 70%;
      min-height: 20px;
   }

   .Task_buttons {
      margin-left: 5px;
   }
}
